.orderStatusContainer {
	background-color: rgba(0,0,0,0.6);
	border-bottom: 1px dashed white;
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 42vh;
}

.orderStatusContainer:last-child {
	border: none;
}

#orders {
	overflow-y: scroll;
	height: 72vh;
}

#orderStatusText {
	font-family: 'Bangers', cursive;
	font-size: 50px;
	color: #ecf0f1;
	margin: 0 0 0 9vh;
}

#timer {
	padding-top: 2%;
	padding-right: 2%;
}

.col {
	color: #ECF0F1;
	float: left;
	font-family: 'Raleway', sans-serif;
	font-size: 10px;
	text-align: center;
}

.mPITitle {
	display: block;
	font-size: 40px;
	font-family: raleway, sans-serif;
	margin: 0 0 10px 0;
	text-align: center;
}

.menuPizzaItem {
	padding: 4vh 0 0 2vh;
	width: 650px;
	height: auto;
}
.menuPizzaItemInfo {
	float: left;
	margin-left: 20px;
	text-align: left;
	width: 400px;
}
.menuPizzaItemInfo label{
	text-align: left;
}
.mPIIIngredient {
	display: block;
	font-size: 15px;
	font-family: raleway, sans-serif;
	margin: 0;
	text-align: left;
}

.menuDrinkItem {
	padding: 4vh 0 0 0;
	margin-right: 200px;
	width: 400px;
	height: auto;
}
.pizzaThumbnail {
	float: left;
	width: auto;
	height: 200px;
}
.menuDrinkItemImg {
	display: inline-block;
	margin: 0 auto o auto;
	width: auto;
	height: 200px;
}




.menuPizzaItem {
	border: none;
}

.incButtons { margin: 20px; }
.buttons { padding: 4vh 0 0 0; }
.buttonEdit, .buttonCancel {
	display: block;
	margin: 2% auto;
	padding: 4% 6%;
	width: 300px;
}
.buttonEditPizza, .buttonEditDrink {
	display: none;
	margin: 0% 5%;
	padding: 2% 5%;
	width: 120px;
}
.buttonContainer { margin-top: 20px; }
#buttonNewOrder, #buttonCancelAll {
	padding: 1% 3%;
	width: 300px;
}
