html, body {
	overflow: hidden;
	background-image: url("../img/tableBackgrounds/tableBack1.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

main {
	position: relative;
	margin-top: 5vh; /* Size of (possible) top navbar */
	margin-left: 40pt; /* Size of left-side menubar */
	height: 100%;
}

main ::-webkit-scrollbar {
	background-color: rgba(46, 125, 50, 0.2);
	border-radius: 20px;
	width: 10px;
	height:10px;
}

main ::-webkit-scrollbar-track-piece {
	background-color: rgba(255,255,255,0.1);
	border-radius: 10px;
}

main ::-webkit-scrollbar-thumb {
	background-color: rgba(107, 155, 55, 0.4);
	border-radius: 20px;
}

main ::-webkit-scrollbar-thumb:hover {
	background-color: white;
}

main label {
	color: white;
	text-align: center;
	text-shadow: 0 0 10px #000;
}

p {
	color: white;
}

/****************************** Menu Pizza Items ******************************/
.mPITitle {
	font-size: 40px;
	font-family: "Raleway", Fallback, sans-serif;
	margin: 0 0 10px 0;
}


/* Left-side of the menu */
.menuItems {
	float: left;
	position: relative;
	overflow-x: hidden;
	height: 100%;
}
.menuItems section {
	margin: 10px 0;
}

/******************************** Buttons *********************************/
/* General rules */
.buttonContainer {
	text-align: center;
}

.buttonContainer button {
	background-color: grey;
	border-radius: 20px;
	color: white;
	font-family: raleway, sans-serif;
	font-size: 30px;
	padding: 4% 6%;
	text-align: center;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
}

.buttonContainer button:not(:last-child) {
	margin-right: 5%;
}

/************************* Extensive Information Bar *************************/
#extensiveInfoBar {
	background-color: rgba(0, 0, 0, 0.95);
	color: white;
	float: right;
	margin-right: 5%;
	position: fixed;
	height: 100%;
	right: 0;
	z-index: 5;
}
#extensiveInfoBar td {
	color: white;
}

#infoContents {
	text-align: center;
	height: 100%;
}
#infoContents label {
	font-size: 50px;
	width: 100%;
}
#extensiveInfoBar .mPIIIngredient {
	display: block;
	font-size: 16px;
	width: 100%;
}
.nutritionalTable {
	font-size: 20px;
	margin: 5% auto;
}
#pizzaOrderButton {
	background-color: #2ecc31;
	border-color: #27ae60;
	border-radius: 20px;
	color: white;
	font-family: raleway, sans-serif;
	font-size: 30px;
	text-align: center;
	width: 200px;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
}

.priceContainer {
	font-family: raleway, sans-serif;
	font-size: 20px;
}
.priceContainer label {
	color: green;
	font-size: 50px;
	font-family: "Bangers", Fallback, sans-serif;
	text-align: center;
}

.rating {
	font-size: 30px;
	text-align: center;
}
.ratingValue {
	display: inline-block;
	font-size: 14pt;
	margin: 0 10pt;
}

/***************************** Font-Awesome icons *****************************/
.fa {
	color: white;
}
.fa.fa-close {
	float: right;
	font-size: 50px;
	font-weight: bolder;
}
